summary:hover, button {
    cursor: pointer;
}

fieldset {
    border-radius: 5px;
}

p span {
    border: 1px dashed black;
    background-color: darkgoldenrod;
    padding: 1%;
    border-radius: 10px;
}

td {
    text-align: center;
}

table {
    margin-left: auto;
    margin-right: auto;
}

td, tr, table {
    border: 1px solid black;
}

section {
    display: flex;
}

tr:nth-child(odd) td:nth-child(odd), tr:nth-child(even) td:nth-child(even) {
    background-color: black;
    color: white;
}