{% extends 'index.html' %}
{% block title %}Búsqueda local{% endblock %}
{% block content %}
<h1>Búsqueda local</h1>
<form action="/busqueda_local" method="post">
    <fieldset>
        <legend>¡Llena tus datos!</legend>
        <label for="inicio">Inicio del rango: </label>
        <input type="number" name="inicio" id="inicio" step="1" required><br>
        <label for="final">Fin del rango: </label>
        <input type="number" name="final" id="final" step="1" required><br>
        <label for="veces">Puntos de estudio: </label>
        <input type="number" name="veces" id="veces" min="1" step="1" required><br>
        <label for="generaciones">Cantidad de generaciones: </label>
        <!-- <input type="number" name="generaciones" id="generaciones" min="1" step="1" max="1000" required><br> -->
        <button type="submit">¡Generar!</button>
    </fieldset>
</form>
{% block respuesta %}{% endblock %}
{% endblock %}