{% extends 'index.html' %}
{% block content %}
<h1>El ejercicio de las 4 reinas</h1>
{% for pedazos in tableros %}
<section>
    {% for i in range(pedazos['vector'].__len__()) %}
    <table>
        <caption>Colisiones: {{ pedazos['fitness'][i] }}</caption>
        {% for dato in pedazos['vector'][i] %}
        <tr>
            {% for j in range(4) %}
            {% if dato == j %}
            <td>👑</td>
            {% else %}
            <td>+</td>
            {% endif %}
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
    {% endfor %}
</section>
{% endfor %}
{% endblock %}