{% extends 'index.html' %}
{% block title %}n reinas con recocido simulado{% endblock %}
{% block content %}
<h1>{{ cantidad }} reinas con recocido simulado</h1>
<form action="/reinas_recocidas" method="get">
    <fieldset>
        <legend>¡Elige la cantidad de reinas!</legend>
        <label for="n">N reinas: </label>
        <input type="number" name="n" id="n" min="4" step="1" value="{{ cantidad }}" required>
        <p class="importante">
            Este método es bastante rápido en comparación a los demás <br>
            Pero puede que sea menos efectivo
        </p>
        <button type="submit">Buscarlas genéticamente</button>
    </fieldset>
</form>
<section>
    {% for dato in tableros %}
    <table>
        <caption>Colisiones: {{ dato['colisiones'] }}</caption>
        {% for j in range(cantidad) %}
        <tr>
            {% for cada in dato['tablero'] %}
            {% if cada == j %}
            <td>👑</td>
            {% else %}
            <td>+</td>
            {% endif %}
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
    {% endfor %}
</section>
{% endblock %}