{% extends 'index.html' %}
{% block title %}n reinas con algoritmo genético{% endblock %}
{% block content %}
<h1>El ejercicio de las {{ cantidad }} reinas</h1>
<form action="/reinas_geneticas" method="get">
    <fieldset>
        <legend>¡Elige la cantidad de reinas!</legend>
        <label for="n">N reinas: </label>
        <input type="number" name="n" id="n" min="4" max="10" step="1" value="{{ cantidad }}" required>
        <label for="poblacion">Poblaciones: </label>
        <input type="number" name="poblacion" id="poblacion" min="4" max="100" step="1" placeholder="opcional">
        <label for="generaciones">Generaciones: </label>
        <input type="number" name="generaciones" id="generaciones" min="4" max="100" step="1" placeholder="opcional">
        <p class="importante">
            A mayor cantidad de reinas MÁS LENTO SERÁ, (NO ES EXAGERACIÓN) <br>
            INTERNAMENTE SE ESTÁN EJECUTANDO MILES DE ITERACIONES Y CÁLCULOS
        </p>
        <button type="submit">Buscarlas genéticamente</button>
    </fieldset>
</form>
{% for pedazos in tableros %}
<details>
    <summary>
        <h2>Generación: {{ loop.index0 }}</h2>
    </summary>
    <section>
        {% for i in range(pedazos['vector'].__len__())%}
        <table>
            <caption>Colisiones: {{ pedazos['colisiones'][i] }}</caption>
            {% for j in range(cantidad) %}
            <tr>
                {% for dato in pedazos['vector'][i] %}
                {% if dato == j %}
                <td>👑</td>
                {% else %}
                <td>+</td>
                {% endif %}
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
        {% endfor %}
    </section>
</details>
{% endfor %}
<!-- <script defer>
    function revisar(lista) {
        for (let i = 0; i < lista.length; i++) {
            const element = lista[i];
            console.log(`Generación ${i}`);
            
            console.log(element);
            
        }
    }
    revisar({{ tableros | tojson }})
</script> -->
{% endblock %}