{% extends 'index.html' %}
{% block title %}n reinas con búsqueda tabú{% endblock %}
{% block content %}
<h1>{{ cantidad }} reinas con búsqueda tabú</h1>
<form action="/reinas_tabu" method="get">
    <fieldset>
        <legend>¡Elige la cantidad de reinas!</legend>
        <label for="n">N reinas: </label>
        <input type="number" name="n" id="n" min="4" max="10" step="1" value="{{ cantidad }}" required>
        <p class="importante">
            A mayor cantidad de reinas MÁS LENTO SERÁ, (NO ES EXAGERACIÓN) <br>
            INTERNAMENTE SE ESTÁN EJECUTANDO MILES DE ITERACIONES Y CÁLCULOS
        </p>
        <button type="submit">Buscarlas con tabú</button>
    </fieldset>
</form>
<section>
    {% for dato in tableros %}
    <table>
        <caption>Colisiones: {{ dato['colisiones'] }}</caption>
        {% for j in range(cantidad) %}
        <tr>
            {% for cada in dato['tabla'] %}
            {% if cada == j %}
            <td>👑</td>
            {% else %}
            <td>+</td>
            {% endif %}
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
    {% endfor %}
</section>
{% endblock %}